* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    
.hidden {
        display: none
    }

body {
    background-color: burlywood;
}

section {
    text-align: center;
    margin-top: 15%;
}

form {
    text-align: center;
    margin-top: 10%;
}

#start-quiz {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: solid;
    border-radius: 20px;
    background-color: cornsilk;
}

#start-quiz h2 {
    margin: 10px;
    font-size: 48px;
}

#start-quiz p {
    font-weight: bolder;
    font-size: 26px;
}

#start-quiz ul {
    
}

#start-quiz li {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
}

button {
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    font-size: 32px;
}

#viewHighscore {
    font-size: 20px;
}

#clearHighScoreBtn,
#returnStartBtn {
    font-size: 18px;

}